[submodule "apps/tune"]
	path = apps/tune
	url = git@github.com:fully-forged/tune.git
	branch = master
[submodule "apps/constable"]
	path = apps/constable
	url = git@github.com:thoughtbot/constable.git
	branch = master
[submodule "apps/elixirstatus"]
	path = apps/elixirstatus
	url = git@github.com:rrrene/elixirstatus-web.git
	branch = master
[submodule "apps/firestorm"]
	path = apps/firestorm
	url = git@github.com:firestormforum/firestorm.git
	branch = master
[submodule "apps/magnetissimo"]
	path = apps/magnetissimo
	url = git@github.com:sergiotapia/magnetissimo.git
	branch = master
[submodule "apps/hexpm"]
	path = apps/hexpm
	url = git@github.com:hexpm/hexpm.git
	branch = master
[submodule "apps/changelog"]
	path = apps/changelog
	url = git@github.com:thechangelog/changelog.com.git
	branch = master
[submodule "apps/evercam-server"]
	path = apps/evercam-server
	url = git@github.com:evercam/evercam-server.git
	branch = master
[submodule "apps/vutuv"]
	path = apps/vutuv
	url = git@github.com:vutuv/vutuv.git
	branch = master
[submodule "apps/loopa-news"]
	path = apps/loopa-news
	url = git@github.com:Angarsk8/Loopa-News.git
	branch = master
[submodule "apps/remote-retro"]
	path = apps/remote-retro
	url = git@github.com:stride-nyc/remote_retro.git
	branch = master
[submodule "apps/tilex"]
	path = apps/tilex
	url = git@github.com:hashrocket/tilex.git
	branch = master
[submodule "apps/code-corps-api"]
	path = apps/code-corps-api
	url = git@github.com:code-corps/code-corps-api.git
	branch = master
[submodule "apps/trello"]
	path = apps/trello
	url = git@github.com:bigardone/phoenix-trello.git
	branch = master
[submodule "apps/exventure"]
	path = apps/exventure
	url = git@github.com:oestrich/ex_venture.git
	branch = master
[submodule "apps/runhyve"]
	path = apps/runhyve
	url = git@github.com:runhyve/webapp.git
	branch = master
[submodule "apps/csv2sql"]
	path = apps/csv2sql
	url = git@github.com:Arp-G/csv2sql.git
	branch = master
[submodule "apps/phoenix-ecto-encryption-example"]
	path = apps/phoenix-ecto-encryption-example
	url = git@github.com:dwyl/phoenix-ecto-encryption-example.git
	branch = master
[submodule "apps/workbench"]
	path = apps/workbench
	url = git@github.com:fremantle-industries/workbench.git
	branch = master
[submodule "apps/reactive-interaction-gateway"]
	path = apps/reactive-interaction-gateway
	url = https://github.com/Accenture/reactive-interaction-gateway
	branch = master
[submodule "apps/conduit"]
	path = apps/conduit
	url = git@github.com:slashdotdash/conduit.git
	branch = master
[submodule "apps/moba"]
	path = apps/moba
	url = git@github.com:pedromtavares/moba.git
	branch = master
[submodule "apps/regex-tester-http-sink"]
	path = apps/regex-tester-http-sink
	url = git@github.com:zestcreative/elixir-utilities-web.git
	branch = master
[submodule "apps/todo-list-tutorial"]
	path = apps/todo-list-tutorial
	url = git@github.com:dwyl/phoenix-todo-list-tutorial.git
	branch = master
[submodule "apps/adoptoposs"]
	path = apps/adoptoposs
	url = git@github.com:adoptoposs/adoptoposs.git
	branch = master
[submodule "apps/deep-work-hours"]
	path = apps/deep-work-hours
	url = git@github.com:co0lsky/deep-work-hours-phoenix.git
	branch = master
[submodule "apps/phoenix-live-dashboard"]
	path = apps/phoenix-live-dashboard
	url = https://github.com/phoenixframework/phoenix_live_dashboard/
	branch = master
[submodule "apps/liveview-counter-tutorial"]
	path = apps/liveview-counter-tutorial
	url = git@github.com:dwyl/phoenix-liveview-counter-tutorial.git
	branch = master
[submodule "apps/discussion"]
	path = apps/discussion
	url = git@github.com:geoffsan/discussion.git
	branch = master
[submodule "apps/elixir-console"]
	path = apps/elixir-console
	url = git@github.com:wyeworks/elixir_console.git
	branch = master
[submodule "apps/grapevine"]
	path = apps/grapevine
	url = https://github.com/oestrich/grapevine
	branch = master
[submodule "apps/httping"]
	path = apps/httping
	url = git@github.com:moomerman/httping.git
	branch = master
[submodule "apps/sms-im"]
	path = apps/sms-im
	url = git@github.com:b-erdem/sms-im.git
	branch = master
[submodule "apps/hex-diff"]
	path = apps/hex-diff
	url = https://github.com/hexpm/diff
	branch = master
[submodule "apps/teslamate"]
	path = apps/teslamate
	url = git@github.com:adriankumpf/teslamate.git
	branch = master
[submodule "apps/boilerplate"]
	path = apps/boilerplate
	url = git@github.com:mirego/elixir-boilerplate.git
	branch = master
[submodule "apps/gitlab-monitor"]
	path = apps/gitlab-monitor
	url = git@github.com:juanpabloaj/phoenix_gitlab_monitor.git
	branch = master
[submodule "apps/accent"]
	path = apps/accent
	url = git@github.com:mirego/accent.git
	branch = master
[submodule "apps/realworld-example"]
	path = apps/realworld-example
	url = git@github.com:gothinkster/elixir-phoenix-realworld-example-app.git
	branch = master
[submodule "apps/open-pantry"]
	path = apps/open-pantry
	url = git@github.com:openpantry/open_pantry.git
	branch = master
[submodule "apps/mango-ecommerce"]
	path = apps/mango-ecommerce
	url = git@github.com:shankardevy/mango.git
	branch = master
[submodule "apps/bors-ng-github-pull-request-merge-bot"]
	path = apps/bors-ng-github-pull-request-merge-bot
	url = git@github.com:bors-ng/bors-ng.git
	branch = master
[submodule "apps/revelry-phoenix-app-template"]
	path = apps/revelry-phoenix-app-template
	url = git@github.com:revelrylabs/revelry_phoenix_app_template.git
	branch = master
[submodule "apps/uai-shot-game"]
	path = apps/uai-shot-game
	url = git@github.com:sergioaugrod/uai_shot.git
	branch = master
[submodule "apps/ecto-encryption-example"]
	path = apps/ecto-encryption-example
	url = git@github.com:dwyl/phoenix-ecto-encryption-example.git
	branch = master
[submodule "apps/plausible-analytics"]
	path = apps/plausible-analytics
	url = git@github.com:plausible/analytics.git
	branch = master
[submodule "apps/bytepack"]
	path = apps/bytepack
	url = git@github.com:dashbitco/bytepack_archive.git
	branch = main
[submodule "apps/kandesk"]
	path = apps/kandesk
	url = git@github.com:seb3s/kandesk.git
[submodule "apps/meliodas-dashboard"]
	path = apps/meliodas-dashboard
	url = git@github.com:ahsandar/meliodas.git
[submodule "apps/mazes-generator"]
	path = apps/mazes-generator
	url = git@github.com:angelikatyborska/mazes.git
